# Code standarization
# -------------------------------------------------
pylint==2.4.4
mypy==0.761

# Autoformat
# -------------------------------------------------
black==19.10b0
isort==4.3.21
docformatter==1.3.1

# Documentation
# -------------------------------------------------
Sphinx==2.3.1
sphinx-rtd-theme==0.4.3

# Testing
# -------------------------------------------------
coverage==5.0.3
